<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{Title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p class="">{{Body}}</p>
        </div>
        <div class="modal-footer">
        <button type="button" (click)="triggerCancelEvent()" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" (click)="triggerConfirmEvent()" class="btn btn-primary" data-bs-dismiss="modal">Confirmar</button>
        </div>
    </div>
    </div>
</div>
