<nav class="navbar navbar-expand-lg shadow-lg" style="background-color: #FFFFFF;">
    <div class="container-fluid">
        <button class="d-block d-lg-none btn btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="bi bi-list"></i>
          </button>
        <a class="navbar-brand" href="">Sales POS</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" routerLink="/cadastroPedidos">Cadastro de Pedidos</a>
                <a class="nav-link" routerLink="/pedidos">Pedidos</a>
                <a class="nav-link" routerLink="/configEstoque">Configuração de Estoque</a>
                <a class="nav-link" routerLink="/relatorio">Relatório</a>
            </div>
        </div>
        <div class="dropdown dropstart">
          <a class="nav-link d-flex" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i>
          </a>
          <ul class="dropdown-menu" style="margin-top: 19px;">
              <li><a class="dropdown-item" href="#">Configurações</a></li>
              <li><a class="dropdown-item" routerLink="/login">Log In</a></li>
              <li><a class="d-none dropdown-item" href="#">Log Out</a></li>
          </ul>
        </div>
    </div>
</nav>
  
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Paginas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" style="color: black;" aria-current="page" routerLink="/cadastroPedidos">Cadastro de Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: black;" routerLink="/pedidos">Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: black;" routerLink="/configEstoque">Configuração de Estoque</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: black;" routerLink="/relatorio">Relatório</a>
            </li>
          </ul>
    </div>
</div>
