<nav class="navbar navbar-expand-lg shadow-lg" style="background-color: #FFFFFF;">
    <div class="container-fluid">
        <button class="d-block d-lg-none btn btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="bi bi-list"></i>
          </button>

        <a class="navbar-brand" href="/home">Sales POS</a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" routerLink="/cadastroPedidos">Cadastro de Pedidos</a>
                <a class="nav-link" routerLink="/pedidos">Pedidos</a>
                <a class="nav-link" routerLink="/configEstoque">Configuração de Estoque</a>
                <a class="nav-link" routerLink="/relatorio">Relatório</a>
            </div>
        </div>

        <div class="dropdown dropstart d-flex flex-row">
          <div class="d-flex me-3 mt-2 shadow p-1" style="width: 60px; height: 28px; border-radius: 15px;">
            <div class="worday-started" [ngClass]="{'worday-started-true': isWorkDayInProgress}">
              On
            </div>
            <div class="worday-finished" [ngClass]="{'worday-finished-true': !isWorkDayInProgress}">
              Off
            </div>
          </div>

          <a class="nav-link d-flex mt-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle fs-5"></i>
          </a>
          <ul class="dropdown-menu" style="margin-top: 25px; margin-right: -70px;">
              <li>
                <a class="dropdown-item" routerLink="/configUsuario">Configurações</a>
              </li>
              <li><a class="dropdown-item" routerLink="/login"
                [ngClass]="{'d-block': !isLoggedIn, 'd-none': isLoggedIn}">
                  Log In
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/criarUsuario">Criar Usuario</a>
              </li>
              <li><a class="d-none dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal"
                  [ngClass]="{'d-block': isLoggedIn, 'd-none': !isLoggedIn}">
                  Log Out
                </a>
              </li>
          </ul>
        </div>
    </div>

    <app-logout-modal
      (actionConfirmed)="logout($event)"
    ></app-logout-modal>
</nav>
  
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Paginas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" style="color: black;" aria-current="page" routerLink="/cadastroPedidos">Cadastro de Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: black;" routerLink="/pedidos">Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: black;" routerLink="/configEstoque">Configuração de Estoque</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: black;" routerLink="/relatorio">Relatório</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: black;" routerLink="/criarUsuario">Criar Usuário</a>
            </li>
          </ul>
    </div>
</div>
