<div class="modal fade" #userDeleteElement tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Deseja deletar o usuário?</h1>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Essa ação não pode ser revertida!
        </div>
        <div class="modal-footer">
        <button type="button" (click)="setUserOptions(1)" class="btn btn-warning">Confirmar</button>
        <button type="button" (click)="setUserOptions(0)" class="btn btn-danger">Cancelar</button>
        </div>
    </div>
    </div>
</div>