<div class="container-fluid full-screen-container">
    <div class="row justify-content-between h-100">

        <!-- Products colapase list -->
        <div class="col-9 d-flex flex-column my-4 ms-5" 
            style="width: 100vh; justify-content: space-between;">
            <div class="" style="overflow-y: auto; overflow-x: hidden; max-height: 75vh;">

                @for (cat of categories; track $index) {
                    <a class="btn fw-bold fs-2 collapse-btn" (click)="toggleCollapse(cat.name)">
                        {{cat.name}} <i [ngClass]="isCollapseOpen(cat.name) ? 'bi-caret-up-fill' : 'bi-caret-down-fill'"></i>
                    </a>

                    <hr class="border border-1 opacity-100 w-25" style="margin-left: 10px; margin-top: -10px; border-color: white;">

                    <div class="collapse ms-3" [id]="cat.name">

                        @for (prod of productsByCategory.get(cat.categoryId); track $index) {
                            <div class="card card-body d-flex text-black fw-bold rounded-4 mb-2 p-2 shadow-lg prod-card" 
                                (click)="selectProduct(prod)"
                                [ngClass]="{ 'border border-primary border-3': prod.productId == prodId}">
                                <div class="prod-card-name">
                                    {{prod.name.toUpperCase()}}
                                </div>
                                <button type="button" class="btn" 
                                    (click)="triggerModal(prod.productId)"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#modal"
                                >
                                    <i class="bi bi-x-lg"></i>
                                </button>
                            </div>
                        }

                        <div class="card card-body d-flex text-black fw-bold rounded-4 mb-2 p-2 shadow-lg prod-card">
                            <button type="button" class="btn" (click)="addProduct(cat.categoryId)">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                        </div>
                        
                    </div>
                }

                <app-modal
                    [Title]="modalTitle"
                    [Body]="modalBody"
                    (actionConfirmed)="catchEvent($event)"
                ></app-modal>

            </div>

            <button type="button" class="btn btn-primary btn-lg w-25">
                Salvar Dados do Estoque
            </button>

        </div>

        <!-- Product data -->
        <div class="col-3 me-5 mt-5 mb-4">
            <div class="d-flex flex-column h-100" style="justify-content: space-between;">
                <div class="card rounded-4" style="background-color: #3C3434; height: 400px; max-width: 388px;">
                    <div class="card-body">

                        <h5 class="card-title fs-3 fw-bold p-2 rounded-2 shadow-lg" style="background-color: #302E2E; border-color: #000000; color: white;">
                            Produto:
                        </h5>

                        <div class="mb-3 mt-4 shadow-lg">
                            <label for="productName" class="form-label m-0" style="color: white;">Nome:</label>
                            <input type="text" class="form-control prod-input" id="productName" placeholder="nome" [(ngModel)]="prodName">
                        </div>
                        <div class="mb-3 shadow-lg">
                            <label for="productPrice" class="form-label m-0" style="color: white;">Preço:</label>
                            <input type="text" class="form-control prod-input" id="productPrice" placeholder="R$ 0,00" [(ngModel)]="prodPrice" prefix="R$ " mask="separator.2">
                        </div>
                        <div class="mb-3 shadow-lg">
                            <label for="productQtde" class="form-label m-0" style="color: white;">Quantidade:</label>
                            <input type="text" class="form-control prod-input" id="productQtde" placeholder="1" [(ngModel)]="prodAmount">
                        </div>

                        <div class="d-flex" style="justify-content: space-between; margin-top: 35px;">
                            <button class="btn shadow-lg" style="background-color: #1C771F; color: white;" (click)="updateProdValues()">
                                Aplicar Valores
                            </button>
                            <div class="spinner-border text-primary" role="status" *ngIf="isLoadind">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div class="" *ngIf="savedProduct">
                                <i class="bi bi-check-all" style="color: #4CFF3F;"></i>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="d-flex" style="flex-direction: row-reverse;">
                    <div class="rounded-4 fw-bold shadow-lg" style="background-color: #D9D9D9;  width: 67%;">
                        <p class="text-black mt-1 mb-0 mx-3">Numero de Produtos:</p>
                        <p class="fs-4 mx-3 mb-1" style="color: #7D0009;">0012</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
