.full-screen-container {
    height: calc(100vh - 56px); /* 100% da tela menos a altura da navbar */
    background-color: #1E1E1E;
}

.prod-input{
    background-color: #D9D9D9;
    color: #7D0009;
    font-weight: bold;
}

.collapse-btn{
    color: white;
}