<div class="modal fade" #textElement tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nome para o pedido</h1>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label for="exampleFormControlInput1" class="form-label">Insira um nome:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="name">
        </div>
        <div class="modal-footer">
        <button type="button" (click)="closeModal()" class="btn btn-secondary">Cancelar</button>
        <button type="button" (click)="setHolderName()" class="btn btn-primary">Confirmar</button>
        </div>
    </div>
    </div>
</div>
