<div class="card text-black shadow-sm">
    <div class="card-body">
        <div class="row g-4">
            <h4 class="col-10 fw-bold fs-5">{{orderHolder.toUpperCase()}}</h4>
            <a class="col-1" style="color: black"><i class="bi bi-pencil ms-2" (click)="throwSetNameEvent()"></i></a>
        </div>

        <hr class="border border-black border-1 my-1 mx-0.5 opacity-100">

        <h5 class="fw-bold w-100 ms-0.5 fs-6">PRODUTOS:</h5>

        <div class="lista-container">

            @for (item of orderProducts; track $index) {
                <div class="row fs-p">
                    <div class="col-3 text-start">{{item.lineItem.amount.toString() + ' ' + (item.product.typeValue == 1 ? 'kg' : 'un')}}</div>
                    <div class="col-5 text-center">{{ item.product.name }}</div>
                    <div class="col-4 text-end">{{'R$ ' + item.product.value + '/' + (item.product.typeValue == 1 ? 'kg' : 'un')}}</div>
                </div>
            }
            
        </div>

        <hr class="border border-black border-1 mt-4 mx-0.5 opacity-100">

        <div class="row">
            <div class="col">
                <p class="fw-bold fs-6">Total de produtos: </p>
            </div>
            <div class="col text-start">
                <p class="fs-6">{{orderProducts.length}}</p>
            </div>
        </div>
        <div class="row" style="margin-top: -10px;">
            <div class="col-4">
                <p class="fw-bold fs-6">Sub Total: </p>
            </div>
            <div class="col text-start">
                <p class="fs-6">{{'R$ ' + totalValue()}}</p>
            </div>
            <p class="fs-6" style="margin-top: -20px;">( estimado )</p>
        </div>
        
        <hr class="border border-black border-1 mx-0.5 opacity-100" style="margin-top: -10px;">

        <div class="row">
            <h4 class="col-4 fw-bold fs-4">TOTAL: </h4>
            <p class="col fs-5">{{'R$ ' + totalValue()}}</p>
        </div>
    </div>
</div>
<div class="triangle-container">
    <!-- Criando 29 triângulos -->
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
</div>
