.full-screen-container {
    height: calc(100vh - 56px); /* 100% da tela menos a altura da navbar */
    display: flex;
    flex-direction: column;
}

/* Define a largura máxima da primeira coluna */
.col-fixed {
    max-width: 430px;
    flex: 1 1 430px; /* Permite que ocupe até 400px, mas se adapte em telas menores */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* A segunda coluna ocupa o restante */
.col-fluid {
    flex: 1;
    flex-direction: column;
}

.form-control{
    font-size: large;
    color: #7D0009;
    background-color: #D2D2D2;
}

.form-floating label::after {
    background-color: transparent !important;
}

/* Remove a borda arredondada ao redor do texto do floating-label */
.form-floating label {
    background-color: transparent !important;
}

.btn-filter{
    background-color: #FDCB58;
    color: #7D0009;
    font-weight: bold;
}

.search-input{
    background-color: #FDCB58;
    border: var(--bs-border-width) solid #FDCB58;
}

.search-input:focus{
    box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}

.un{
    justify-content: center;
    align-items: center;
}

.w-custom{
    width: 98%;
}

.d-qtde-itens {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.prod{
    background-color: #D9D9D9;
    min-height: 90px;
}
