<div class="container-fluid full-screen-container">
    <div class="row h-100">
        <!-- Primeira coluna com largura máxima de 400px -->
        <div class="col-fixed p-2 text-white d-flex" style="background-color: #2C2C2C;">
            <app-bucket-card 
                [orderProducts]="orderProducts"
                [orderHolder]="orderHolder"
                (setNameEvent)="openHolderModel()"
            ></app-bucket-card>

            <div class="row g-2 mt-1">
                <div class="col-sm-7">
                  <div class="form-floating">
                    <input type="email" class="form-control fw-medium shadow-lg" id="floatingInputGrid" placeholder="name@example.com" [value]="orderPhone">
                    <label for="floatingInputGrid" style="color: black;">Telefone:</label>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="form-floating">
                    <input type="text" class="form-control fw-medium shadow-lg" id="floatingInputGrid" placeholder="000" [value]="orderNumber" disabled readonly>
                    <label for="floatingGrid" style="color: black;">Número do pedido:</label>
                  </div>
                </div>
            </div>

            <div class="row gap-4 mt-4">
                <div class="col">
                    <button type="button" 
                        class="btn btn-lg btn-success shadow-lg fw-bold"
                        (click)="triggerModal(1)"
                        data-bs-toggle="modal" 
                        data-bs-target="#modal"
                    >CONFIRMAR</button>
                </div>
                <div class="col">
                    <button type="button" 
                        class="btn btn-lg btn-danger shadow-lg fw-bold" 
                        (click)="triggerModal(0)"
                        data-bs-toggle="modal" 
                        data-bs-target="#modal"
                    >CANCELAR</button>
                </div>
            </div>

            <!-- Modal -->
            <app-modal
                [Title]="modalTitle"
                [Body]="modalBody"
                (actionConfirmed)="catchEvent($event)"
            ></app-modal>

            <app-holder-modal
                #textModal
                (holderName)="setHolder($event)"
            ></app-holder-modal>
        
        </div>

        <!-- Segunda coluna ocupando o restante -->
        <div class="col-fluid text-white d-flex justify-content-start" style="background-color: #1E1E1E;">
            <!-- Linha de Funções -->
            <div class="d-flex flex-wrap mt-2 mb-4 gap-2" style="min-height: 30px; width: 100%;">
                <div class="input-group flex-nowrap rounded-6 flex-grow-1" style="min-width: 260px; max-width: 500px; border-radius: 0.75rem;">
                    <button class="btn btn-outline-secondary search-input" 
                            style="color: #7D0009; border-radius: 0.75rem 0 0 0.75rem;" 
                            type="button" id="button-addon1"
                            (click)="getAllProductsByName()"
                        ><i class="bi bi-search"></i>
                    </button>
                    <input type="text" class="form-control search-input" style="color: black; border-radius: 0 0.75rem 0.75rem 0;" [value]="prodName" placeholder="" aria-label="" aria-describedby="addon-wrapping">
                </div>
                @for (cat of categories; track $index) {
                    <button type="button" 
                        class="btn btn-sm btn-filter rounded-5" 
                        data-bs-toggle="button"
                        (click)="getProductsByCategory(cat)"
                    >{{cat.name.toUpperCase()}}</button>
                }
                <button type="button" 
                    class="btn btn-sm btn-filter rounded-5" 
                    data-bs-toggle="button"
                    (click)="getAllProducts()"
                >TODOS</button>
            </div>
            

            <!-- Lista de Itens -->
            <div class="d-flex mx-3 gap-3 flex-column" style="height: 80%;">

                <div *ngIf="isLoading" class="d-flex justify-content-center mt-4">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>

                <ng-container *ngIf="!isLoading">
                    @for (prod of products; track $index) {
                        <div class="row w-custom fs-5 fw-bold rounded-4 shadow-lg prod" 
                            [ngClass]="{ 'border border-primary border-3': prodId === prod.productId }"
                            (click)="selectProduct(prod)"
                            style="cursor: pointer">
                            <div class="col-9 text-start">
                                <p class="mt-2" style="color: black;">{{ prod.name.toUpperCase() }}</p>
                                <div class="d-flex" style="color: #7D0009; margin-top: -4px;">
                                    <p class="">R$ {{ prod.value }}</p>
                                    <p class="ms-3">{{ prod.typeValue == 1 ? 'kg' : 'un' }}</p>
                                </div>
                            </div>
                            <div class="col-3" style="color: #7D0009;">
                                <div class="d-flex w-100 h-100 un">
                                    <p class="">{{ prod.stockQuantity }}</p>
                                    <p class="ms-3">{{ prod.typeValue == 1 ? 'kg' : 'un' }}</p>
                                </div>
                            </div>
                        </div>
                    }
                </ng-container>
            </div>
            
            <!-- Quantidade e Adicionar -->
            <div class="row w-custom">
                <div class="col-4 ms-3 d-flex fw-bold text-black fs-6 h-100 rounded-4 shadow-lg" style="background-color: #D9D9D9; width: 320px; padding-top: 3px">
                    <div class="w-75 mt-2">
                        <p class="m-0">QUANTIDADE DE ITENS:</p>
                    </div>
                    <div class="d-qtde-itens w-25 mt-1">
                        <button type="button" class="btn btn-lg fs-3" (click)="increaseAmount()" style="margin-top: -16px">+</button>
                        <p class="m-0 mb-2 mx-1">{{ prodAmount }}</p>
                        <button type="button" class="btn btn-lg fs-3" (click)="decreaseAmount()" style="margin-top: -36px">_</button>
                    </div>
                    
                </div>
                <div class="col-auto ms-auto">
                    <button type="button" class="btn btn-lg btn-primary fw-bold shadow-lg" (click)="addItem()" style="color: black;">ADICIONAR</button>
                </div>
            </div>
        </div>
    </div>

    <!-- TOAST -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toast" class="toast align-items-center text-bg-primary" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
            <div class="toast-body">
                {{ toastMessage }}
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>





